.home {
  display: flex;
  flex-direction: column;
  background-color: #ebebef;

  &__header {
    display: flex;
    flex-direction: column;
    background-color: #1b2536;
    color: white;
    height: 40%;
    padding: 1rem;
    gap: 1rem;
  
    &__line1 {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
  
      &__image {
        height: 60px;
        margin-right: 2rem;
      }
  
      &__options {
        display: flex;
        gap: 1rem;
        cursor: pointer;
  
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1rem;
          height: 50px;
          color: #8e939a;
          border-radius: 25px;
          transition: 0.5s;
  
          &:hover {
            color: #fff;
            transition: 0.5s;
            background: linear-gradient(
              90deg,
              rgba(255, 255, 255, 0.13) 30%,
              rgba(255, 255, 255, 0.336) 100%
            );
          }
        }
      }
  
      &__search-acc {
        display: flex;
        justify-content: center;
        gap: 1rem;
  
        &__input {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 30px;
          background-color: #ffffff30;
          height: 40px;
          padding: 1rem;
          gap: 1rem;
  
          fa-icon {
            font-size: 20px;
          }
  
          input {
            background-color: transparent;
            border: none;
  
            &::placeholder {
              color: #8e939a;
            }
  
            &:focus-visible {
              outline: none;
              color: white;
            }
          }
        }
  
        &__user {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.30);
          border-radius: 50%;
          height: 40px;
          width: 40px;
          cursor: pointer;
          color: #b2b6bd;
  
          &:hover {
            color: white;
            background-color: rgba(255, 255, 255, 0.60);
          }
        }
      }
    }
  
    &__line2 {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
    }
  }

  &__tabs-container {
    display: flex;
    height: 85%;
    width: calc(100% - 2rem);
    position: absolute;
    top: 22%;
    left: 1rem;

    .mat-mdc-tab-group {
      --mat-tab-header-divider-height: 1px;
      --mat-tab-header-divider-color: #fff;
      --mdc-tab-indicator-active-indicator-color: #fff;
      --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
      --mat-tab-header-pagination-icon-color: #000;
      --mat-tab-header-inactive-label-text-color: #8e939a;
      --mat-tab-header-active-label-text-color: #fff;
      --mat-tab-header-active-ripple-color: #fff;
      --mat-tab-header-inactive-ripple-color: #3f51b5;
      --mat-tab-header-inactive-focus-label-text-color: #8e939a;
      --mat-tab-header-inactive-hover-label-text-color: #8e939a;
      --mat-tab-header-active-focus-label-text-color: #fff;
      --mat-tab-header-active-hover-label-text-color: #fff;
      --mat-tab-header-active-focus-indicator-color: #fff;
      --mat-tab-header-active-hover-indicator-color: #fff;
    }

    &::ng-deep {
      .mat-mdc-tab-body-wrapper {
        height: 100%;
        width: 100%;
      }
    }
  }
}
